* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #262626;
}
.container {
  max-width: 1000px;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.carousel {
  display: flex;

  align-items: center;
  justify-content: center;
  width: 100%;
}
.carousel .images {
  width: 80%;
  min-height: 650px;
}
.carousel .images img {
  display: none;
  width: 100%;
}
.carousel .images img.active {
  display: inline-block;
}
.prev,
.next {
  width: 10%;
  color: #cecece;
  font-size: 40px;
  cursor: pointer;
  text-align: center;
}
.bullets {
  text-align: center;
  width: 100%;
  color: #000;
}
.bullets > i {
  margin: 0 15px;
  cursor: pointer;
}
.bullets > i.active {
  color: #ffffff;
}
