* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #262626;
}
.container {
  max-width: 1000px;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.carousel {
  display: flex;

  align-items: center;
  justify-content: center;
  width: 100%;
}
.carousel .images {
  width: 80%;
  min-height: 650px;
  overflow: hidden;
  position: relative;
}
.carousel .images img {
  display: none;
  width: 100%;
  position: absolute;
}
.carousel .images img.active {
  display: inline-block;
}
.slideright{
animation-name: slideright;
animation-duration: 0.3s;
animation-timing-function: linear;
}
@keyframes slideright {
  0%{
    left: 100%;
  }
  100%{
    left: 0;
  }
}
.slideleft{
animation-name: slideleft;
animation-duration: 0.3s;
animation-timing-function: linear;
}
@keyframes slideleft {
  0%{
    right: 100%;
  }
  100%{
    right: 0;
  }
}
.prev,
.next {
  width: 10%;
  color: #cecece;
  font-size: 40px;
  cursor: pointer;
  text-align: center;
}
.bullets {
  text-align: center;
  width: 100%;
  color: #000;
}
.bullets > i {
  margin: 0 15px;
  cursor: pointer;
}
.bullets > i.active {
  color: #ffffff;
}
